joblib==1.4.2
seaborn==0.13.2
pycountry-convert==0.7.2
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.1
scipy==1.13.1
matplotlib==3.9.2
streamlit==1.39.0
langchain==0.2.16
langchain-google-genai==1.0.9

