joblib==1.4.2
langchain==0.3.7
langchain_google_genai==0.0.12
seaborn==0.13.2
pycountry_convert==0.7.2
pandas==2.2.3
numpy==1.26.4
scikit-learn==1.5.1
scipy==1.13.1
matplotlib==3.9.2
xgboost==2.1.2
lightgbm==4.5.0
catboost==1.2.7
streamlit==1.39.0
